@font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"), 
    url("../fonts/source-sans-pro-v21-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/source-sans-pro-v21-latin-600.woff2") format("woff2"), 
    url("../fonts/source-sans-pro-v21-latin-600.woff") format("woff"); 
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/source-sans-pro-v21-latin-700.woff2") format("woff2"), 
    url("../fonts/source-sans-pro-v21-latin-700.woff") format("woff"); 
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/source-sans-pro-v21-latin-900.woff2") format("woff2"), 
    url("../fonts/source-sans-pro-v21-latin-900.woff") format("woff"); 
}

/* GENERAL */

*,
*::before,
*::after{
    box-sizing: inherit;
}


html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img{
    display: block;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    background-image: url('../images/bg.jpeg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container{
    width: 100%;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.my-photo {
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
}

.site-title {
    margin-top: 50px;
    color: lightyellow;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff000088;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 26px;
    text-align: center;
}

.link-list {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 50px;
    list-style: none;
    text-align: center;
}

.my-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.link-item{
    width: 100%;
    background-color: #ff000088;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);

}

.site-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightyellow;
    margin-top: 5px;
    margin-bottom: 5px;
}

.link-social{
    margin-left: 20px;
}

.text {
    display: block;
    text-align: center;
    background-color: #019a0199;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: lightyellow;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
}